.nav-container {
  padding: 10px 0;
}

.welcome-container {
  padding: 50px 0;
}

.review-container {
  overflow: hidden;
  padding: 100px 0;
  background: rgba(0, 0, 0, 0.212);
}

.review {
  animation: scroll-up;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes scroll-up {
  0% {transform: translateY(200%)}

  6% {transform: translateY(-10%)}
  8% {transform: translateY(2%)}

  10%,90% {transform: translateY(0)}

  96% {transform: translateY(10%)}
  100% {transform: translateY(-200%)}
}

.services-container {
  padding: 50px 0;
}
